{#- Site footer: email, phone, LinkedIn and company details. -#}
<footer class="section">
        <div class="container">
          <div class="grid _12-col t_flex t_vertical">
            <div class="_3-col flex relative padding-vertical t_padding-1-5 m_padding-1-25">
              <div class="padding-vertical padding-1-5 width-100-pct t_padding-0">
                <div class="flex vertical">
                  <a href="mailto:hello@madeclearstudios.com" class="link-dark">hello@madeclearstudios.com</a>
                  <div class="link-dark no-hover">+44 (0) 1865 965389</div>
                </div>
                <div class="height-5 t_none"></div>
                <div class="height-3 t_height-1-25"></div>
                <div class="flex justify-space-between t_justify-start t_gap-1-25">
                  <a href="/privacy-policy" class="font-600 text-size-xsmall link-dark">Privacy Policy</a>
                  <a href="/terms-conditions" class="font-600 text-size-xsmall link-dark">Terms &amp; Conditions</a>
                </div>
              </div>
              <div class="width-1-5 t_none"></div>
              <div class="divider-vertical t_margin-negative"></div>
            </div>
            <div class="_9-col">
              <div class="height-100-pct padding-1-5 t_padding-0">
                <div class="flex vertical justify-space-between height-100-pct padding-vertical t_padding-1-5 m_padding-1-25">
                  <div class="flex vertical align-start">
                    <a href="https://www.linkedin.com/company/made-clear-studios/" target="_blank" class="link-dark w-inline-block">
                      <div class="w-embed"><svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_13480_37)">
                            <path d="M25.8283 0H2.09418C0.930748 0 0 0.933333 0 2.02222V25.9778C0 27.0667 0.930748 28 2.09418 28H25.9058C27.0693 28 28 27.0667 28 25.9778V2.02222C27.9224 0.933333 26.9917 0 25.8283 0ZM8.29917 23.8778H4.1108V10.5H8.22161V23.8778H8.29917ZM6.20499 8.63333C4.88643 8.63333 3.80055 7.54444 3.80055 6.22222C3.80055 4.9 4.88643 3.88889 6.20499 3.88889C7.52355 3.88889 8.60942 4.97778 8.60942 6.3C8.60942 7.62222 7.52355 8.63333 6.20499 8.63333ZM23.8116 23.8778H19.7008V17.3444C19.7008 15.7889 19.7008 13.7667 17.5291 13.7667C15.3573 13.7667 15.0471 15.4778 15.0471 17.1889V23.8H10.8587V10.5H14.8144V12.2889H14.892C15.4349 11.2 16.831 10.1111 18.8476 10.1111C23.036 10.1111 23.8116 12.9111 23.8116 16.4889V23.8778Z" fill="currentColor"></path>
                          </g>
                          <defs>
                            <clippath id="clip0_13480_37">
                              <rect width="28" height="28" fill="white"></rect>
                            </clippath>
                          </defs>
                        </svg></div>
                    </a>
                  </div>
                  <div class="none t_block t_height-1-25 padding-0"></div>
                  <div class="flex justify-space-between">
                    <div class="font-600 text-size-xsmall">© 2025 Made Clear Studios Ltd | Registered in England &amp; Wales No. 07323563.<br>Registered Office: 62 St. Bernards Road, Oxford, OX2 6EJ, United Kingdom</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
