    <div class="global-styles w-embed">
      <style>
  :root {
    --inherit: inherit;
    --normal: normal;
    --none: none;
  }
  ::selection {
    background: var(--main--marker-yellow);
  }
  ::-moz-selection {
    background: var(--main--marker-yellow);
  }
  /* Improve text rendering across different browsers */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  /* Inherit typography styles for common interactive elements */
  a,
  .w-input,
  .w-select,
  .w-tab-link,
  .w-nav-link,
  .w-dropdown-btn,
  .w-dropdown-toggle,
  .w-dropdown-link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
  }
  /* Reset native styles for form controls */
  input,
  textarea,
  select,
  button {
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  /* Autofill field background/text color customization 
.form_input:-webkit-autofill,
.footer-form_input:-webkit-autofill {
-webkit-box-shadow: 0 0 0 60px var(--base-color-neutral--secondary) inset !important;
-webkit-text-fill-color: var(--base-color-neutral--primary) !important;
}*/
  /* Layout */
  section,
  header,
  footer {
    position: relative;
  }
  .section {
    padding-right: var(--_spacings---section--section-padding);
    padding-left: var(--_spacings---section--section-padding);
  }
  .section.padding-0 {
    padding: 0;
  }
  .container {
    min-width: calc(992px - var(--section-padding) * 2);
  }
  .child-height-100-pct > * {
    height: 100%;
  }
  .w-richtext > *:first-child {
    margin-top: 0;
  }
  .w-richtext > *:last-child {
    margin-bottom: 0;
  }
  svg {
    display: block;
  }
  /* Misc */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
  }
  .user-select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
  }
  .button-donate,
  .color-inherit {
    color: inherit;
  }
  .visibility-hidden {
    visibility: hidden;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  address {
    font-style: normal;
  }
  img::selection {
    background: transparent;
  }
  /* Spacing */
  .margin-vertical {
    margin-right: 0;
    margin-left: 0;
  }
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }
  .margin-top {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .margin-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .padding-vertical {
    padding-right: 0;
    padding-left: 0;
  }
  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }
  .padding-top {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .padding-bottom {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .padding-left {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  /* Borders */
  .border-top {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .border-right {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .border-bottom {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  .border-left {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  /*
Desktop
*/
  @media screen and (min-width: 992px) {
    .navbar {
      padding-right: var(--section--padding);
      padding-left: var(--section--padding);
    }
  }
  /*
Tablet
*/
  @media screen and (max-width: 991px) {
    /* Layout */
    .section.t_padding-0 {
      padding: 0;
    }
    .container {
      width: 100%;
      min-width: 0px;
    }
  }
  /*
Mobile
*/
  @media screen and (max-width: 767px) {
    /* Layout */
    .section.m_padding-0 {
      padding: 0;
    }
  }
  .flex {
    display: flex;
  }
  .grid {
    display: grid;
  }
  .inline-block {
    display: inline-block;
  }
  .inline {
    display: inline;
  }
  .block {
    display: block;
  }
  .none {
    display: none;
  }
  /*
Tablet
*/
  @media screen and (max-width: 991px) {
    .t_flex {
      display: flex;
    }
    .t_grid {
      display: grid;
    }
    .t_block {
      display: block;
    }
    .t_none {
      display: none;
    }
  }
  /*
Mobile
*/
  @media screen and (max-width: 767px) {
    .m_flex {
      display: flex;
    }
    .m_grid {
      display: grid;
    }
    .m_block {
      display: block;
    }
    .m_none {
      display: none;
    }
  }
  .col-inherit {
    grid-template-columns: inherit;
    grid-column: inherit;
  }
  ._1-col {
    grid-template-columns: repeat(1, 1fr);
    grid-column: span 1;
  }
  ._2-col {
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
  }
  ._3-col {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
  ._4-col {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
  }
  ._5-col {
    grid-template-columns: repeat(5, 1fr);
    grid-column: span 5;
  }
  ._6-col {
    grid-template-columns: repeat(6, 1fr);
    grid-column: span 6;
  }
  ._7-col {
    grid-template-columns: repeat(7, 1fr);
    grid-column: span 7;
  }
  ._8-col {
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
  }
  ._9-col {
    grid-template-columns: repeat(9, 1fr);
    grid-column: span 9;
  }
  ._10-col {
    grid-template-columns: repeat(10, 1fr);
    grid-column: span 10;
  }
  ._11-col {
    grid-template-columns: repeat(11, 1fr);
    grid-column: span 11;
  }
  ._12-col {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
  ._13-col {
    grid-template-columns: repeat(13, 1fr);
    grid-column: span 13;
  }
  ._14-col {
    grid-template-columns: repeat(14, 1fr);
    grid-column: span 14;
  }
  ._15-col {
    grid-template-columns: repeat(15, 1fr);
    grid-column: span 15;
  }
  ._16-col {
    grid-template-columns: repeat(16, 1fr);
    grid-column: span 16;
  }
  ._17-col {
    grid-template-columns: repeat(17, 1fr);
    grid-column: span 17;
  }
  ._18-col {
    grid-template-columns: repeat(18, 1fr);
    grid-column: span 18;
  }
  ._19-col {
    grid-template-columns: repeat(19, 1fr);
    grid-column: span 19;
  }
  ._20-col {
    grid-template-columns: repeat(20, 1fr);
    grid-column: span 20;
  }
  ._21-col {
    grid-template-columns: repeat(21, 1fr);
    grid-column: span 21;
  }
  ._22-col {
    grid-template-columns: repeat(22, 1fr);
    grid-column: span 22;
  }
  ._23-col {
    grid-template-columns: repeat(23, 1fr);
    grid-column: span 23;
  }
  ._24-col {
    grid-template-columns: repeat(24, 1fr);
    grid-column: span 24;
  }
  ._1-row {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-row: span 1;
  }
  ._2-row {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row: span 2;
  }
  ._3-row {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: span 3;
  }
  ._4-row {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row: span 4;
  }
  /*
Tablet
*/
  @media screen and (max-width: 991px) {
    .t_col-inherit {
      grid-template-columns: inherit;
      grid-column: inherit;
    }
    .t_1-col {
      grid-template-columns: repeat(1, 1fr);
      grid-column: span 1;
    }
    .t_2-col {
      grid-template-columns: repeat(2, 1fr);
      grid-column: span 2;
    }
    .t_3-col {
      grid-template-columns: repeat(3, 1fr);
      grid-column: span 3;
    }
    .t_4-col {
      grid-template-columns: repeat(4, 1fr);
      grid-column: span 4;
    }
    .t_5-col {
      grid-template-columns: repeat(5, 1fr);
      grid-column: span 5;
    }
    .t_6-col {
      grid-template-columns: repeat(6, 1fr);
      grid-column: span 6;
    }
    .t_7-col {
      grid-template-columns: repeat(7, 1fr);
      grid-column: span 7;
    }
    .t_8-col {
      grid-template-columns: repeat(8, 1fr);
      grid-column: span 8;
    }
    .t_9-col {
      grid-template-columns: repeat(9, 1fr);
      grid-column: span 9;
    }
    .t_10-col {
      grid-template-columns: repeat(10, 1fr);
      grid-column: span 10;
    }
    .t_11-col {
      grid-template-columns: repeat(11, 1fr);
      grid-column: span 11;
    }
    .t_12-col {
      grid-template-columns: repeat(12, 1fr);
      grid-column: span 12;
    }
    .t_13-col {
      grid-template-columns: repeat(13, 1fr);
      grid-column: span 13;
    }
    .t_14-col {
      grid-template-columns: repeat(14, 1fr);
      grid-column: span 14;
    }
    .t_15-col {
      grid-template-columns: repeat(15, 1fr);
      grid-column: span 15;
    }
    .t_16-col {
      grid-template-columns: repeat(16, 1fr);
      grid-column: span 16;
    }
    .t_17-col {
      grid-template-columns: repeat(17, 1fr);
      grid-column: span 17;
    }
    .t_18-col {
      grid-template-columns: repeat(18, 1fr);
      grid-column: span 18;
    }
    .t_19-col {
      grid-template-columns: repeat(19, 1fr);
      grid-column: span 19;
    }
    .t_20-col {
      grid-template-columns: repeat(20, 1fr);
      grid-column: span 20;
    }
    .t_21-col {
      grid-template-columns: repeat(21, 1fr);
      grid-column: span 21;
    }
    .t_22-col {
      grid-template-columns: repeat(22, 1fr);
      grid-column: span 22;
    }
    .t_23-col {
      grid-template-columns: repeat(23, 1fr);
      grid-column: span 23;
    }
    .t_24-col {
      grid-template-columns: repeat(24, 1fr);
      grid-column: span 24;
    }
    .t_1-row {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-row: span 1;
    }
    .t_2-row {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row: span 2;
    }
    .t_3-row {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row: span 3;
    }
    .t_4-row {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-row: span 4;
    }
  }
  /*
Mobile
*/
  @media screen and (max-width: 767px) {
    .m_col-inherit {
      grid-template-columns: inherit;
      grid-column: inherit;
    }
    .m_1-col {
      grid-template-columns: repeat(1, 1fr);
      grid-column: span 1;
    }
    .m_2-col {
      grid-template-columns: repeat(2, 1fr);
      grid-column: span 2;
    }
    .m_3-col {
      grid-template-columns: repeat(3, 1fr);
      grid-column: span 3;
    }
    .m_4-col {
      grid-template-columns: repeat(4, 1fr);
      grid-column: span 4;
    }
    .m_5-col {
      grid-template-columns: repeat(5, 1fr);
      grid-column: span 5;
    }
    .m_6-col {
      grid-template-columns: repeat(6, 1fr);
      grid-column: span 6;
    }
    .m_7-col {
      grid-template-columns: repeat(7, 1fr);
      grid-column: span 7;
    }
    .m_8-col {
      grid-template-columns: repeat(8, 1fr);
      grid-column: span 8;
    }
    .m_9-col {
      grid-template-columns: repeat(9, 1fr);
      grid-column: span 9;
    }
    .m_10-col {
      grid-template-columns: repeat(10, 1fr);
      grid-column: span 10;
    }
    .m_1-row {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-row: span 1;
    }
    .m_2-row {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row: span 2;
    }
    .m_3-row {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row: span 3;
    }
    .m_4-row {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-row: span 4;
    }
  }
  .w-webflow-badge {
    display: none !important;
  }
  .button.primary:hover .hover-button-blur,
  .submit-wrapper:hover .hover-button-blur {
    opacity: 0;
  }
  .c_arrow-link:hover .button-arrow {
    color: var(--main--grey-2);
    transform: translateX(0.25rem);
  }
  @media screen and (max-width: 991px) {
    @keyframes BubbleMoveFirst {
      from {
        transform: rotate(360deg) translate(-20px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(-20px) rotate(0deg);
      }
    }
    @keyframes BubbleMoveSecond {
      from {
        transform: rotate(360deg) translate(5px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(5px) rotate(0deg);
      }
    }
    @keyframes BubbleMoveThird {
      from {
        transform: rotate(360deg) translate(-15px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(-15px) rotate(0deg);
      }
    }
    @keyframes BubbleMove {
      0% {
        transform: translate(20px, 0);
      }
      25% {
        transform: translate(0, 10px);
      }
      50% {
        transform: translate(-20px, 0);
      }
      75% {
        transform: translate(0, -10px);
      }
      100% {
        transform: translate(20px, 0);
      }
    }
    .water-bubble:not(.the-main):nth-child(4n + 1) {
      animation: BubbleMoveFirst 15s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n + 2) {
      animation: BubbleMoveSecond 10s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n + 3) {
      animation: BubbleMoveThird 25s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n) {
      animation: BubbleMove 15s linear infinite;
    }
  }
  @media screen and (min-width: 992px) {
    @keyframes BubbleMoveFirst {
      from {
        transform: rotate(360deg) translate(-50px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
      }
    }
    @keyframes BubbleMoveSecond {
      from {
        transform: rotate(360deg) translate(20px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(20px) rotate(0deg);
      }
    }
    @keyframes BubbleMoveThird {
      from {
        transform: rotate(360deg) translate(-35px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(-35px) rotate(0deg);
      }
    }
    @keyframes BubbleMove {
      0% {
        transform: translate(34px, 0);
      }
      25% {
        transform: translate(0, 17px);
      }
      50% {
        transform: translate(-34px, 0);
      }
      75% {
        transform: translate(0, -17px);
      }
      100% {
        transform: translate(34px, 0);
      }
    }
    @keyframes BubbleMoveMain {
      from {
        transform: rotate(360deg) translate(-20px) rotate(-360deg);
      }
      to {
        transform: rotate(0deg) translate(-20px) rotate(0deg);
      }
    }
    .water-bubble:not(.the-main):nth-child(4n + 1) {
      animation: BubbleMoveFirst 60s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n + 2) {
      animation: BubbleMoveSecond 30s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n + 3) {
      animation: BubbleMoveThird 40s linear infinite;
    }
    .water-bubble:not(.the-main):nth-child(4n) {
      animation: BubbleMove 20s linear infinite;
    }
    .water-bubble.the-main,
    .water-bubble-placeholder {
      animation: BubbleMoveMain 30s linear infinite;
    }
  }
  .button-secondary-bg {
    opacity: 0;
  }
  .button-secondary:hover .button-secondary-bg {
    opacity: 1;
  }
  .hover-button-blur {
    inset: 0;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(4px);
    mask-image: linear-gradient(to left, transparent 0%, black 65%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 65%);
  }
  @media screen and (max-width: 767px) {
    .splide__arrow--prev {
      left: 0.5rem;
    }
    .splide__arrow--next {
      right: 0.5rem;
    }
    .c_slider-arrow svg {
      height: 1.5rem;
    }
  }
  @media screen and (min-width: 1320px) {
    .splide__arrow--prev {
      left: -2rem;
    }
    .splide__arrow--next {
      right: -2rem;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1319px) {
    .splide__arrow--prev {
      left: 0rem;
    }
    .splide__arrow--next {
      right: 0rem;
    }
  }
  .c_slider-arrow svg {
    width: 100%;
    height: 2.5rem;
    fill: currentcolor;
    stroke: #373737;
    stroke-width: 1.5;
  }
  @media screen and (min-width: 768px) {
    .c_slider-arrow svg {
      height: 2.5rem;
    }
  }
  .c_secondary-btn-hover:hover .button-secondary-bg {
    opacity: 1;
  }
  .w--nav-dropdown-toggle-open.w--open .services-mobile {
    color: var(--main--grey-2) !important;
  }
  .button-secondary-bg {
    transform: translate3d(0, 0, 0);
  }
</style>
    </div>
